



<!DOCTYPE html>
<html>
<body>
    <form method="POST" >
        <label for="name">core position data:</label>
        <input type="file" accept=".csv" name="data" required><br>
        <label for="nrw">number of rows:</label>
        <input type="text" name="nrw" required><br>
        <label for="ncl">number of columns:</label>
        <input type="text" name="ncl" required><br>
        <button type="submit">Go</button>
    </form>
</body>


<script>
if ( window.history.replaceState) {
window.history.replaceState(null, null, window.location.href);
}
</script>
</html>
